version: '3'
services:
  db:
    image: mariadb:10.6.12
    ports:
      - "3303:3303"
    volumes:
      - ./setupDatabase.sh:/docker-entrypoint-initdb.d/setupDatabase.sh
      - ./data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: library
      MYSQL_USER: library
      MYSQL_PASSWORD: library
      MYSQL_TCP_PORT: 3303